:root {
  --blue-4-menu: rgba(32, 166, 227, 0.3);
  --white: #fafefe;
  --blue-200: #20a6e3;
  --blue-400: #10599e;
  --blue-600: #103561;
  --blue-800: #06254a;
  --brown-4-btn: rgba(58, 17, 0, 0.7);

  --font-family: 'Lilita One', sans-serif;
  --second-family: 'Nunito', sans-serif;
  --third-family: 'Roboto', sans-serif;

  --transition: cubic-bezier(0.4, 0, 0.2, 1);
}
