.why-contact {
  background-color: var(--blue-600);
  background-image: url('../../assets/img/background/background-larg-icon-desctop-1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: var(--white);
}
@media (min-resolution: 2dppx) {
  .why-contact {
    background-image: url('../../assets/img/background/background-larg-icon-desctop-2x.webp');
  }
}
.why-contact__inner {
  padding: 48px 20px 64px;
}
/* WHY PLAY */

.why-play__title {
  margin-bottom: 28px;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 1.15;
  text-align: center;
  color: var(--white);
}

.why-play__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.why-play__phones {
  display: flex;
  justify-content: center;
}

.why-play__phones-img {
  display: block;
  width: 320px;
  height: auto;
}

.why-play__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.why-play__text {
  max-width: 335px;
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--white);
}

.why-play__card {
  width: 101px;
  height: 101px;
  margin-bottom: 16px;
  border-radius: 10px;
  object-fit: cover;
}

.why-play__store {
  display: inline-flex;
  width: 245px;
}

.why-play__store img {
  display: block;
  width: 100%;
  height: auto;
}
/* DESKTOP */
@media screen and (max-width: 1439px) {
  .why-play__phones {
    grid-row: 2;
    grid-column: 1;
  }

  .why-play__card {
    grid-row: 2;
    grid-column: 1;
    z-index: 2;

    align-self: end;
    justify-self: center;

    width: 101px;
    height: 83px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1440px) {
  .why-contact__inner {
    padding: 80px;
  }

  .why-play__title {
    margin-bottom: 48px;
    font-size: 48px;
  }
  .why-play__info {
    display: flex;
  }
  .why-play__content {
    display: grid;
    grid-template-columns: 538px 628px;
    align-items: center;
    justify-content: center;
    gap: 76px;
  }

  .why-play__phones-img {
    width: 538px;
  }

  .why-play__text {
    max-width: 628px;
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 1.22;
  }

  .why-play__card {
    width: 224px;
    height: 224px;
    margin-bottom: 38px;
    border-radius: 15px;
  }

  .why-play__store {
    width: 325px;
    height: 94px;
  }

  .why-play__store img {
    height: 100%;
  }
}
