.site-footer {
  background-color: var(--blue-800);
  position: relative;
  width: 100%;
  overflow: hidden;
}

.site-footer::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 375px;
  z-index: 0;
  background-image: url('../../assets/img/footer/background-footer-line-mob-1x.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.site-footer__top-line {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  height: 50px;
  background: rgba(32, 166, 227, 0.3);
}

.site-footer__top-line,
.site-footer__inner {
  position: relative;
  z-index: 1;
}

.site-footer__inner {
  margin: 0 auto;
  padding: 48px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 40px;
}

.site-footer__brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.site-footer__title {
  margin: 0 20px;
  color: #fff;
  font-size: 40px;
  line-height: 1.1;
}

.footer__google-play {
  display: none;
}

.hero__google-play-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.site-footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.site-footer__nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.site-footer__nav a {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  font-size: 24px;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.site-footer__nav a:hover {
  opacity: 1;
}

.site-footer__bottom p {
  font-family: var(--second-family);
  font-weight: 400;
  color: var(--white);
  font-size: 24px;
  opacity: 1;
  margin: 0;
}

@media screen and (min-width: 1440px) {
  .site-footer::before {
    max-width: 1440px;
    background-image: url('../../assets/img/footer/background-footer-line-desctop-1x.webp');
  }

  .site-footer__inner {  
    width: 1440px;
    padding: 72px 80px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 0;
  }

    .site-footer__top-line{
      width: 1440px;
      max-width: 1440px;
    }
  .site-footer__brand {
    align-items: flex-start;
    max-width: 520px;
    gap: 22px;
  }

  .site-footer__title {
    font-size: 48px;
    line-height: 1.1;
  }

  .footer__google-play {
    display: inline-block;
    width: 245px;
    height: 70px;
  }

  .site-footer__info {
    align-items: flex-end;
    text-align: right;
    gap: 40px;
  }

  .site-footer__nav a {
    font-size: 36px;
  }

  .site-footer__bottom p {
    font-size: 36px;
  }
}