<section class="about" id="about">
  <div class="container about__container">
    <h2 class="about__title">About Street Conquest</h2>
    <!------------------------------------------------->
    <div class="about__content about__text--top">
      <p class="about__text">
        It's basically an MMO where you're fighting to control the city.<br /><br />Street
        Conquest: Map MMO RPG drops you into this massive online city where
        you've gotta make smart moves and team up with the right people if you
        want to run things.<br /><br />You'll be growing your crew's power,
        taking on rival gangs, and jumping into massive city-wide battles as the
        game world changes around you.
      </p>
    </div>
    <!------------------------------------------------->
    <div class="about__image-wrapper">
      <img
        src="./assets/img/about-sect/section-about-desctop-1x.webp"
        srcset="
          ./assets/img/about-sect/section-about-desctop-1x.webp 1x,
          ./assets/img/about-sect/section-about-desctop-2x.webp 2x
        "
        alt="Street Conquest map"
        class="about__image-bg"
        width="335"
        height="264"
      />
      <!------------------------------------------------->
      <div class="about__character about__character--1">
        <img
          src="./assets/img/heroes/hero-desctop-1x_3.webp"
          srcset="
            ./assets/img/heroes/hero-desctop-1x_3.webp 1x,
            ./assets/img/heroes/hero-desctop-2x_3.webp 2x
          "
          alt="Blue monster"
          class="about__blue-monster"
          width="139"
          height="114"
        />
        <div class="about__character-shadow" aria-hidden="true"></div>
      </div>

      <div class="about__character about__character--2">
        <img
          src="./assets/img/heroes/hero-desctop-1x_1.webp"
          srcset="
            ./assets/img/heroes/hero-desctop-1x_1.webp 1x,
            ./assets/img/heroes/hero-desctop-2x_1.webp 2x
          "
          alt="Thief red dragon"
          class="about__red-dragon"
          width="206"
          height="169"
        />
        <div class="about__character-shadow" aria-hidden="true"></div>
      </div>

      <div class="about__character about__character--3">
        <img
          src="./assets/img/heroes/hero-desctop-1x_7.webp"
          srcset="
            ./assets/img/heroes/hero-desctop-1x_7.webp 1x,
            ./assets/img/heroes/hero-desctop-2x_7.webp 2x
          "
          alt="Green monster"
          class="about__character-img"
          width="276"
          height="227"
        />
        <div class="about__character-shadow" aria-hidden="true"></div>
      </div>
      <!------------------------------------------------->
    </div>
    <div class="about__content about__text--bottom">
      <p class="about__text">
        It's all about smart planning mixed with quick multiplayer action - the
        kind of game that keeps you coming back for months.<br /><br />
        We're going for that intense, movie-like vibe that gets your heart
        pumping.
      </p>
    </div>
  </div>
</section>
