<footer class="site-footer">
  <div class="site-footer__top-line"></div>

  <div class="container site-footer__inner">
    <div class="site-footer__brand">
      <h2 class="site-footer__title">Street Conquest: Map MMO RPG</h2>

      <a
        class="footer__google-play"
        href="https://play.google.com/store/apps/details?id=com.streetconquest.game"
      >
        <img src="../assets/img/svg/googleplay.svg" alt="Google Play" />
      </a>
    </div>

    <div class="site-footer__info">
      <nav class="site-footer__nav">
        <a href="./privacy-policy.html">Privacy Policy</a>
        <a href="./terms-conditions.html">Terms of Service</a>
      </nav>

      <div class="site-footer__bottom">
        <p>&copy; 2026 truvia.it.com &mdash; All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
