<header class="header">
  <div class="container wrapper">
    <nav class="nav">
      <a href="#" class="nav-logo">Home</a>

      <button type="button" class="burger-btn" data-action="open">Menu</button>

      <div class="burger-menu" data-visible="close">
        <button type="button" class="btn-close" data-action="close">
          &times;
        </button>

        <ul class="nav-list">
          <li>
            <a href="#hero" class="nav-link active" data-action="close">Home</a>
          </li>
          <li>
            <a href="#about" class="nav-link" data-action="close"
              >About the Game</a
            >
          </li>
          <li>
            <a href="#how-to-play" class="nav-link" data-action="close"
              >How to Play</a
            >
          </li>
          <li>
            <a href="#gallery" class="nav-link" data-action="close">Gallery</a>
          </li>
          <li>
            <a href="#why-play" class="nav-link" data-action="close"
              >Why Play</a
            >
          </li>
          <li>
            <a href="#contact" class="nav-link" data-action="close">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
