<section class="how-to-play" id="how-to-play">
  <div class="container how-to-play__container">
    <h2 class="how-to-play__title">How To Play</h2>

    <ul class="how-to-play__list">
      <li class="how-to-play__item">
        <div class="how-to-play__media">
          <div class="how-to-play__media-bg" aria-hidden="true"></div>
          <img
            class="how-to-play__media-img"
            src="./assets/img/how-to-play/how-to-play1-desctop-1x.webp"
            srcset="
              ./assets/img/how-to-play/how-to-play1-desctop-1x.webp 1x,
              ./assets/img/how-to-play/how-to-play1-desctop-2x.webp 2x
            "
            alt="Capture City Districts"
            width="112"
            height="112"
          />
        </div>
        <div class="how-to-play__text">
          <p class="how-to-play__desc">
            Expand your territory and dominate rival crews
          </p>
          <p class="how-to-play__label">Capture City Districts</p>
        </div>
      </li>

      <li class="how-to-play__item how-to-play__item--reverse">
        <div class="how-to-play__media">
          <div class="how-to-play__media-bg" aria-hidden="true"></div>
          <img
            class="how-to-play__media-img"
            src="./assets/img/how-to-play/how-to-play2-desctop-1x.webp"
            srcset="
              ./assets/img/how-to-play/how-to-play2-desctop-1x.webp 1x,
              ./assets/img/how-to-play/how-to-play2-desctop-2x.webp 2x
            "
            alt="Upgrade Your Crew"
            width="112"
            height="112"
          />
        </div>
        <div class="how-to-play__text">
          <p class="how-to-play__desc">
            Battle it out across different neighborhoods that are constantly
            changing hands.
          </p>
          <p class="how-to-play__label">Upgrade Your Crew</p>
        </div>
      </li>

      <li class="how-to-play__item">
        <div class="how-to-play__media">
          <div class="how-to-play__media-bg" aria-hidden="true"></div>
          <img
            class="how-to-play__media-img"
            src="./assets/img/how-to-play/how-to-play3-desctop-1x.webp"
            srcset="
              ./assets/img/how-to-play/how-to-play3-desctop-1x.webp 1x,
              ./assets/img/how-to-play/how-to-play3-desctop-2x.webp 2x
            "
            alt="Form Powerful Alliances"
            width="112"
            height="112"
          />
        </div>
        <div class="how-to-play__text">
          <p class="how-to-play__desc">
            Strengthen fighters, skills, and tactical abilities.
          </p>
          <p class="how-to-play__label">Form Powerful Alliances</p>
        </div>
      </li>

      <li class="how-to-play__item how-to-play__item--reverse">
        <div class="how-to-play__media">
          <div class="how-to-play__media-bg" aria-hidden="true"></div>
          <img
            class="how-to-play__media-img"
            src="./assets/img/how-to-play/how-to-play4-desctop-1x.webp"
            srcset="
              ./assets/img/how-to-play/how-to-play4-desctop-1x.webp 1x,
              ./assets/img/how-to-play/how-to-play4-desctop-2x.webp 2x
            "
            alt="Compete In Multiplayer Battles"
            width="112"
            height="112"
          />
        </div>
        <div class="how-to-play__text">
          <p class="how-to-play__desc">
            Team up with other players to take over bigger chunks of the city.
          </p>
          <p class="how-to-play__label">Compete In Multiplayer Battles</p>
        </div>
      </li>

      <li class="how-to-play__item">
        <div class="how-to-play__media">
          <div class="how-to-play__media-bg" aria-hidden="true"></div>
          <img
            class="how-to-play__media-img"
            src="./assets/img/how-to-play/how-to-play5-desctop-1x.webp"
            srcset="
              ./assets/img/how-to-play/how-to-play5-desctop-1x.webp 1x,
              ./assets/img/how-to-play/how-to-play5-desctop-2x.webp 2x
            "
            alt="Expand Your Influence"
            width="112"
            height="112"
          />
        </div>
        <div class="how-to-play__text">
          <p class="how-to-play__desc">
            Take on other players in smart, tactical street fights.
          </p>
          <p class="how-to-play__label">Expand Your Influence</p>
        </div>
      </li>

      <li class="how-to-play__item how-to-play__item--reverse">
        <div class="how-to-play__media">
          <div class="how-to-play__media-bg" aria-hidden="true"></div>
          <img
            class="how-to-play__media-img"
            src="./assets/img/how-to-play/how-to-play6-desctop-1x.webp"
            srcset="
              ./assets/img/how-to-play/how-to-play6-desctop-1x.webp 1x,
              ./assets/img/how-to-play/how-to-play6-desctop-2x.webp 2x
            "
            alt="Open up new parts of the city"
            width="112"
            height="112"
          />
        </div>
        <div class="how-to-play__text">
          <p class="how-to-play__desc">
            Open up new parts of the city and earn better gear as you progress.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
