<section class="why-contact" id="why-play">
  <div class="container why-contact__inner">
    <section class="why-play">
      <h2 class="why-play__title">Why Play</h2>

      <div class="why-play__content">
        <div class="why-play__phones">
          <img
            class="why-play__phones-img"
            src="./assets/img/why-play/too-mobille-1.png"
            srcset="
              ./assets/img/why-play/too-mobille-1.png 1x,
              ./assets/img/why-play/too-mobille-1.png 2x
            "
            alt="Street Conquest on smartphones"
          />
        </div>

        <div class="why-play__info">
          <p class="why-play__text">
            Grow your gang, take over the streets, and show everyone who really
            runs this city!
          </p>

          <img
            src="./assets/img/favicon 1.webp"
            alt=""
            width="224"
            height="224"
            class="why-play__card"
          />

          <a
            href="https://play.google.com/store/apps/details?id=com.streetconquest.game"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="hero__google-play-icon"
              width="245"
              height="70"
              aria-hidden="true"
            >
              <use
                href="./assets/img/svg/sprite.svg#icon-googleplay"
              ></use></svg
          ></a>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <h2 class="contact__label">Contact</h2>

      <img
        src="./assets/img/heroes/hero-desctop-1x_5.webp"
        srcset="
          ./assets/img/heroes/hero-desctop-1x_5.webp 1x,
          ./assets/img/heroes/hero-desctop-2x_5.webp 2x
        "
        alt="insert"
        width="223"
        height="183"
        class="contact__bug"
      />

      <p class="contact__title">
        Ready to take control<br />
        of the streets?
      </p>

      <a class="contact__email" href="mailto:info@truvia.it.com">
        info@truvia.it.com
      </a>
    </section>
  </div>
</section>
