<section class="why-contact">
  <div class="container why-contact__inner">
    <section class="why-play">
      <h2 class="why-play__title">Why Play</h2>

      <div class="why-play__content">
        <div class="why-play__phones">
          <img
            src="../assets/img/why-play/scrin-mobile-1-desctop-1x.webp"
            srcset="
              ../assets/img/why-play/scrin-mobile-1-desctop-1x.webp 1x,
              ../assets/img/why-play/scrin-mobile-1-desctop-2x.webp 2x
            "
            alt="Street Conquest gameplay"
            class="why-play__phone why-play__phone--left"
          />

          <img
            src="../assets/img/why-play/scrin-mobile-2-desctop-1x.webp"
            srcset="
              ../assets/img/why-play/scrin-mobile-2-desctop-1x.webp 1x,
              ../assets/img/why-play/scrin-mobile-2-desctop-2x.webp 2x
            "
            alt="Street Conquest loading screen"
            class="why-play__phone why-play__phone--right"
          />
        </div>

        <div class="why-play__info">
          <p class="why-play__text">
            Grow your gang, take over the streets, and show everyone who really
            runs this city!
          </p>
          <img
            src="../assets/img/favicon 1.webp"
            alt=""
            width="224"
            height="224"
            class="why-play__card"
          />
          <a
            href="https://play.google.com/store/apps/details?id=com.streetconquest.game"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              class="hero__google-play-icon"
              width="245"
              height="70"
              aria-hidden="true"
            >
              <use href="./assets/img/svg/sprite.svg#icon-googleplay"></use>
            </svg>
          </a>
        </div>
      </div>
    </section>
  </div>
</section>
